/*.ml16 {*/
/*    font-family: Coc;*/
/*    color: #ffffff;*/
/*    !*padding: 40px 0;*!*/
/*    !*font-weight: 800;*!*/
/*    font-size: 3vw;*/
/*    overflow: hidden;*/
/*}*/

/*!*.ml16 .letter {*!*/
/*!*    display: inline-block;*!*/
/*!*    line-height: 1vw;*!*/
/*!*}*!*/

/*body{*/
/*    background: linear-gradient(to right, #f577b4 0%, #fdf080 100%);*/
/*    !*overflow: hidden;*!*/
/*    !*align-items: center;*!*/
/*    !*text-align: center;*!*/
/*    !*align-content: center;*!*/
/*    !*justify-content: center;*!*/
/*    display: grid;*/
/*    place-items: center;*/
/*}*/

/*label {*/
/*    font-family: Pacifico;*/
/*    text-align: center;*/
/*    font-size: 2em;*/
/*    margin: 0;*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    -webkit-mask-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#000),color-stop(.5,#000),color-stop(1,transparent));*/
/*    transition: background-position 1s, background-color 1s;*/
/*    text-align: center;*/
/*    font-size: calc(28vw + 1rem);*/
/*    font-weight: 400;*/
/*    line-height: 1;*/
/*    background-image: url('//hearts.png');*/
/*    background-size: 30vw auto, 30vw auto, 20vw auto;*/
/*    background-repeat: repeat-x;*/
/*    background-position: 0px 15%, 200px 25%, -50px 2vw;*/
/*    background-color: #ff7f59;*/
/*    background-position: -120px 15%, 230px 20%, -100px 3vw;*/
/*}*/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0 auto;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    font-family: monospace;
    justify-content: center;
    background-color: #1d212b;
}

div.theme {
    position: relative;
    width: 30vw;
    height: 30vw;
    /*line-height: 30vw;*/
    border-radius: 5%;
    /*vertical-align: center;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #252B37;
    background-color: #151823;
    margin: 0;
    padding: 0;
    animation: textColor 10s ease infinite;
}

div.theme:after {
    position: absolute;
    content: "";
    top: 5vw;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(10vw);
    -moz-filter: blur(10vw);
    -ms-filter: blur(10vw);
    filter: blur(10vw);
    background: linear-gradient(270deg, #d99ae8, #ece059);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes textColor {
    0% {
        color: #e79171;
    }
    50% {
        color: #e5ec8e;
    }
    100% {
        color: #f577b4;
    }
}

/*heart*/
.heart-beat {
    height: 60px;
    width: 60px;
}

.heart-beat input[type=checkbox] + label svg {
    -webkit-animation: heart-beat-wiggle 700ms 100ms forwards ease-in-out;
    animation: heart-beat-wiggle 700ms 100ms forwards ease-in-out infinite;
}

.heart-beat input[type=checkbox] {
    left: -999999px;
    position: absolute;
    top: -999999px;
}

@keyframes heart-beat-wiggle {
    0% {
        transform: rotate(0deg) scale(1.1);

    }
    25% {
        transform: rotate(-5deg) scale(1.2);

    }
    75% {
        transform: rotate(3deg) scale(1.5);

    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

/*arrow*/
.arrow {
    background: #fff;
    height: 3px;
    margin: 0 auto;
    cursor: pointer;
    content: "";
    position: absolute;
    width: 15px;
    right: -3px;
    bottom: -4px;
    /*transform: rotate(-45deg);*/

}
