* {
    box-sizing: border-box;
}

html,
body {
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    font-family: monospace;
    justify-content: center;
    background-color: #1d212b;
}

div.theme {
    position: relative;
    width: 30vw;
    height: 30vw;
    /*line-height: 30vw;*/
    border-radius: 5%;
    /*vertical-align: center;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #252B37;
    background-color: #151823;
    margin: 0;
    padding: 0;
    animation: textColor 10s ease infinite;
}

div.theme:after {
    position: absolute;
    content: "";
    top: 5vw;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(10vw);
    -moz-filter: blur(10vw);
    -ms-filter: blur(10vw);
    filter: blur(10vw);
    background: linear-gradient(270deg, #d99ae8, #ece059);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes textColor {
    0% {
        color: #e79171;
    }
    50% {
        color: #e5ec8e;
    }
    100% {
        color: #f577b4;
    }
}

/*heart*/
.heart-beat {
    height: 60px;
    width: 60px;
}

.heart-beat label svg {
    -webkit-animation: heart-beat-wiggle 700ms 100ms forwards ease-in-out;
    animation: heart-beat-wiggle 700ms 100ms forwards ease-in-out infinite;
}


@keyframes heart-beat-wiggle {
    0% {
        transform: rotate(0deg) scale(1.1);

    }
    25% {
        transform: rotate(-5deg) scale(1.2);

    }
    75% {
        transform: rotate(3deg) scale(1.5);

    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}
